body {
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
  background-color: #f5f5f5;
  padding: 30px;
}

/* TITLE */

.siteheader h1 {
  font-size: 52px;
  margin-bottom: 30px;
}

/* GRID */

.emojis {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

/* CARD */

.emoji {
  border: 1px solid #222;
  border-radius: 8px;
  padding: 1rem;
  background-color: white;

  display: flex;
  flex-direction: column;
}

/* TITLE */

.emoji h2 {
  margin: 0;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
}

/* EMOJI */

.icon {
  font-size: 4rem;
  text-align: center;
  margin: 10px 0;
}

/* TEXT*/

.emoji p {
  line-height: 1.5;
  margin: 10px 0 20px 0;
}

/* BUTTOM */

.emoji a {
  text-decoration: none;
  background-color: #781BAA;
  color: white;
  padding: 1rem;
  border-radius: 8px;

  text-align: center;

  margin-top: auto;
}